# 1 ejercicio

In [7]:
x = float(input(print("Enter a number")))
y = float(input(print("Enter other number")))
suma = x/y
residuo = x%y
if residuo == 0:
  print("its ",suma,"and The number has residue exact ")
elif y == 0:
  print("the second number its 0")
else:
  print("its ",residuo," and The number residue its",residuo)

Enter a number
4
Enter other number
9
its  4.0  and The number residue its 4.0

# 2 ejercicio

# 3 ejercicio

In [25]:
firstbro = input(print("Enter ur age"))
seconbro = input(print("Enter ur age"))
thirtbro = input(print("Enter ur age"))
if firstbro>seconbro and firstbro>thirtbro and seconbro>thirtbro: # 3,2,1
  print("el orden es: ",thirtbro,seconbro,firstbro)
elif seconbro>firstbro and seconbro>thirtbro and firstbro>thirtbro:#3,1,2
  print("El ordes es",thirtbro,firstbro,seconbro)
elif thirtbro>firstbro and thirtbro>seconbro and firstbro>seconbro: #2,1,3
  print("El ordes es",seconbro,firstbro,thirtbro)
elif thirtbro>firstbro and thirtbro>seconbro and seconbro>firstbro:#1,2,3
  print("El ordes es",firstbro,seconbro,thirtbro)
elif seconbro>thirtbro and seconbro>firstbro and thirtbro>firstbro:#1,3,2
  print("El orden es",firstbro,thirtbro,seconbro)
elif firstbro>seconbro and firstbro>thirtbro and thirtbro>seconbro: #2,3,1
  print("El orden es",seconbro,thirtbro,firstbro)
elif firstbro == seconbro and firstbro ==thirtbro:
  print("u r tillizos")
elif firstbro == seconbro or firstbro ==thirtbro:
  print("U r gemelos")

Enter ur age
1
Enter ur age
2
Enter ur age
3
El ordes es 1 2 3

#4 ejercicio

In [ ]:
print("Write all u gastos es decir egresos")
print("welcome to DIAN. plz write all u ingresos en este ultimo año: ")

# 5 ejercicio

In [28]:
letter = input(print("Write the first letter of u ID "))
if letter == "u" or "U":
  print("YESSIR")
elif letter == "p" or "P":

Write the first letter of u ID
u
YESSIR

# 6 ejercicio

In [31]:
n_one = int(input(print("Write ur 1 calification aproximando para que sea entero")))
n_two = int(input(print("Write ur 1 calification aproximando para que sea entero")))
n_trhe = int(input(print("Write ur 1 calification aproximando para que sea entero")))
n_four = int(input(print("Write ur 1 calification aproximando para que sea entero")))
prom = (n_one+n_two+n_trhe+n_four)/4;
if prom>45:
  print("Eximido del siguiente examen")
elif prom>=35 and prom<=45:
  print("Debes presentar el examen")
elif prom>=3 and prom<=35:
  print("Adicional al examen prsentar un trabajo") 
elif prom>=2 and prom<=3:
  print("Presenta habilitacion")
else:
  print("Paila")

Write ur 1 calification aproximando para que sea entero
50
Write ur 1 calification aproximando para que sea entero
50
Write ur 1 calification aproximando para que sea entero
50
Write ur 1 calification aproximando para que sea entero
50
Eximido del siguiente examen

# 7 ejercicio

In [ ]:
year = print("En que año naciste")
year_actual = print("En que año estamos")
day = print("que dia es tu nacimiento")
day_actual = print("en que dia estamos")
month_actual = print("En que mes estamos")
month = print("En que mes naciste")
age = year_actual-year;
print ("Tu edad es ", age)